<main class="relative">
  <img
    src="/assets/pattern-rings.svg"
    alt=""
    aria-hidden="true"
    class="absolute left-[-18%] top-[3%] desktop:hidden"
  />
  <div
    class="container relative grid grid-cols-hero tablet:flex tablet:flex-col-reverse tablet:items-center tablet:text-center"
  >
    <div class="z-[1]">
      <h1
        class="relative text-2xl font-bold tracking-[-0.4px] pt-[90px] leading-[clamp(60px,10cqw,90px)] tablet:pt-[40px]"
      >
        Nice to meet you! I’m <span
          class="border-b-[6px] border-b-cyan inline-block tablet:border-b-[3px]"
          >Adam Keyes</span
        >.
      </h1>
      <p
        class="text-lg text-pale-gray mt-[40px] mb-[70px] w-full max-w-[450px] tablet:max-w-max"
      >
        Based in the UK, I’m a front-end developer passionate about building
        accessible web apps that users love.
      </p>
      <a href="#" class="btn-primary">Contact me</a>
    </div>

    <picture
      class="absolute top-[-19%] right-0 w-full max-w-[450px] z-0 desktop:static desktop:bottom-0 tablet:max-w-[200px]"
    >
      <img
        src="/assets/image-profile-desktop.webp"
        alt="Adams Keyes picture"
        class="w-full h-full object-cover"
        width="450"
        height="728"
      />
      <img
        src="/assets/pattern-circle.svg"
        alt=""
        aria-hidden="true"
        class="absolute left-[-15%] bottom-[10%] desktop:hidden"
      />
    </picture>
  </div>
</main>
