<div
  class="container flex items-center justify-between mobile:flex-col mobile:gap-[30px]"
>
  <a href="#" class="text-[32px] font-bold tracking-[-0.6px]">adamkeyes</a>
  <ul class="flex items-center gap-[31px] pr-[25px] z-10">
    <li>
      <a href="#"
        ><img
          src="/assets/icon-github.svg"
          alt="github icon"
          width="25"
          height="25"
        /></a
      >
    </li>
    <li>
      <a href="#"
        ><img
          src="/assets/icon-frontend-mentor.svg"
          alt="frontend mentor icon"
          width="25"
          height="25"
        /></a
      >
    </li>
    <li>
      <a href="#"
        ><img
          src="/assets/icon-linkedin.svg"
          alt="linkedin icon"
          width="25"
          height="25"
        /></a
      >
    </li>
    <li>
      <a href="#"
        ><img
          src="/assets/icon-twitter.svg"
          alt="twitter icon"
          width="25"
          height="25"
        /></a
      >
    </li>
  </ul>
</div>
