---
const { technology, years } = Astro.props;
---

<article class="tablet:text-center">
  <p class="text-xl font-bold mb-[4px] tracking-[-1.3px]">
    {technology}
  </p>
  <span class="text-lg text-pale-gray">{years} Years Experience</span>
</article>
